@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


:root {
  --Linear-Gradient: linear-gradient(to right, hsl(236, 72%, 79%),
      hsl(237, 63%, 64%));

  --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
  --Light-Grayish-Blue: hsl(234, 14%, 84%);
  --Grayish-Blue: hsl(233, 13%, 49%);
  --Dark-Grayish-Blue: hsl(232, 13%, 40%);
}

body {
  background: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: var(--Dark-Grayish-Blue);
}

#root {
  width: 100vw;
  height: 100vh;
  background-image: url(/src/assets/bg-top.svg), url(/src/assets/bg-bottom.svg);
  background-repeat: no-repeat;
  background-position: right top, left bottom;
  display: grid;
  place-items: center;
}

.component {
  display: grid;
  place-items: center;
}

.component-title {
  font-weight: 700;
}


/* -------------------Toggle-------------------- */
.component-toggle {
  display: flex;
  align-items: center;
}

.toggle-text {
  margin: 0 16px;
  font-size: 1.1rem;
  color: var(--Grayish-Blue);
}


/* -------------------Pricing Card-------------------- */
.component-pricingCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 56px;
}

.pricing-card {
  background-color: #fff;
  border-radius: 16px;
  padding: 20px 32px 32px;
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  border-top: 1px solid var(--Light-Grayish-Blue);
  opacity: 0.6;
  width: 100%;
  margin: 16px;
}

.professionalCard {
  background: var(--Linear-Gradient);
  color: var(--Very-Light-Grayish-Blue);
  height: 550px;
}


.pricing-button {
  background: var(--Linear-Gradient);
  width: 100%;
  height: 56px;
  margin-top: 24px;
  border: none;
}

.pricing-button-text {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 3px;
}

.professionalCard .pricing-button {
  background: var(--Very-Light-Grayish-Blue);
}

.professionalCard .pricing-button .pricing-button-text {
  background: var(--Very-Light-Grayish-Blue);
  background: var(--Linear-Gradient);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}