.wrap-toggle {
    padding: 8px;
    display: flex;
    align-items: center;
}

.checkbox-toggle {
    display: none;
}

.switch {
    position: relative;
    background: linear-gradient(to right, hsl(236, 72%, 75%),
    hsl(237, 63%, 64%));
    background-color: #222;
    display: inline-block;
    width: 60px;
    height: 32px;
    border-radius: 32px;
    cursor: pointer;
}

.switch::after {
    content: '';
    position: absolute;
    background-color: hsl(240, 78%, 98%);
    width: 26px;
    height: 26px;
    border-radius: 26px;
    right: 3px;
    top: 3px;
    transition: all 0.6s;
}

input[type="checkbox"]:checked + .switch::after {
    transform: translateX(-28px);
}

.switch:hover {
    opacity: 0.7;
}